<html>

<head>
<script src="https://cdn.jibestream.com/web/4.5.4/jmap.min.js"></script>

<script>
    
const jibestream = jmap.init({
  auth: new jmap.core.Auth('91f63734-b9ef-4c4f-9607-b19075b561d6', 'EXkLlx/aDvR4sh71R2zxBn0J+6KK5zJMNou5oV9wUIg='),
  applyDisplayMode: true,
  customerId: 166,
  venueId: 794,
host: 'https://sandbox-api.jibestream.com',
})
 </script>

</head>

<body>

        <div id="map" class="map" >
  
        </div>



</body>
</html>